<div class='row'>
  <div class="col-md-3">
    <h1>User info</h1>
      <%= render 'info', user: current_user%>
    <h1>New book</h1>
      <%= render 'books/form', user: current_user, book: @book %>
  </div>
  <div class="col-md-8 offset-md-1">
  <h1>Users</h1>
    <%= render 'index', users: @users %>
  </div>
  <div class="books_counts">
    <table>
      <thead>
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>